.footer-section, 
.error-page ,
.blog-section h3, 
.featured-car-section h3,
.featured-car-section h4, 
.gallery-section h3, 
.footer-section h3,
.error-page h2{
	font-family: "Inter", sans-serif;
}

/*Header*/ 
.buynow-btn a{
  background: var(--wp--preset--color--primary);
  border-radius: 6px;
  padding: 10px !important;
}
.buynow-btn .wp-block-navigation-item__label{
  color: #fff !important;
}
.wp-block-site-title{
  font-size: 20px !important;
  color: #222222;
  margin-top: 0;
  text-transform: capitalize;
}
.main-header-section .header-btn-box img{
  width: auto !important;
  height: 28px !important;
}
.about-voice-section .about-voice-right .voice-img:after{
  content: none !important;
}
/* Banner */
.banner-main-sec .show-btn img, .banner-main-sec .hide-btn img{
  height: 25px;
  width: auto !important;
}
/* Testimonial Section */
.testimonial-section .block-editor-block-list__block.owl-carousel{
  display: flex;
  gap: 10px;
}
.testimonial-section .block-editor-block-list__block.owl-carousel .client-box{
  margin-top: 2rem;
}
.about-section .about-left-content .about-images .components-resizable-box__container{
  width: auto !important;
}
/*Footer Section*/
.footer-para{
  margin-right: 58% !important;
}
.footer-section  .wp-block-social-links{
  gap: 1.5rem !important;
}
.footer-section .wp-block-tag-cloud a{
  border:1px solid var(--wp--preset--color--primary);
  padding: 6px 10px;
  margin: 2px;
}
.footer-section .wp-block-tag-cloud a:hover{
  background: #009DAE;
  border:1px solid #009DAE;
}
.footer-section .wp-block-columns.copyright-section p a{
  color: #000;
  font-size: 18px !important;
}
.footer-add{
  margin-right: 10%;
}
.copyright-section p{
  color: #A8A8A8 !important;
  font-size: 16px !important;
}
.footer-section {
  padding: 0;
  min-height: auto;
}
.footer-section .wp-block-group {
  padding: 50px 0px 0;
}
.footer-section .wp-block-columns.copyright-section {
  padding: 20px 0px;
  margin: 50px 0 0;
  border-top: 1px solid var(--wp--preset--color--primary);
}
.footer-section .wp-block-columns.copyright-section .wp-block-column:first-child {
  padding-left: 50px;
}
.footer-section .wp-block-columns.copyright-section .wp-block-column:nth-child(2) {
  padding-right: 50px;
}
.footer-box h3 {
  margin-bottom: 20px;
  width: 100%;
}
.footer-box p{
  margin-top: 10px !important;
}
.footer-add{
 line-height: 30px !important;
}
.footer-box a{
  text-decoration: none !important;
}
.footer-box ul {
  padding: 0;
  gap: 0;
}
.footer-box{
  position: relative;
}
.footer-box img{
  position: absolute;
  right: 38%;
  bottom: -68px;
}
.footer-box ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-section .wp-block-social-link{
  background: transparent !important;
  color: var(--wp--preset--color--tertiary);
}
.footer-section .wp-block-button__link {
  padding: 10px 25px;
  font-weight: 500;
  font-size: 14px;
  color: #fff !important;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #fff;
}
.footer-section .wp-block-social-link a{
  padding: 10px !important;
  border-radius: 6px;
  background: var(--wp--preset--color--primary);
}
.copyright-section p{
  line-height: 30px;
}
.footer-section .wp-block-social-links:not(.is-style-logos-only) .wp-social-link-facebook{
  color: #1778f2;
}
.footer-section .wp-block-social-links:not(.is-style-logos-only) .wp-social-link-instagram{
  color:#f00075;
}
.footer-section .wp-block-social-links:not(.is-style-logos-only) .wp-social-link-twitter{
  color:#1da1f2;
}
.footer-section .wp-block-social-links:not(.is-style-logos-only) .wp-social-link-pinterest{
  color:#e60122;
}
/*404 Page CSS*/
.error-page .wp-block-search__button {
  border: 0;
  background: var(--wp--preset--color--primary);
}
/*archive*/
.archive-page-sec{
  padding-bottom: 30px;
  padding-top: 30px;
}
/*Sidebar CSS*/
.theme-sidebar .wp-block-tag-cloud a {
  border: 1px solid var(--wp--preset--color--primary);
  padding: 6px 10px;
  margin: 2px;
  font-size: 14px !important;
}
.theme-sidebar .wp-block-group {
  padding: 15px ;
  border: 1px solid #eee;
  color: #6b6b6b;
  margin-bottom: 30px;
}
.theme-sidebar a {
  text-decoration: none;
}
.theme-sidebar .wp-block-group h3 {
  color: #222;
  padding-bottom: 5px;
  border-bottom: 3px double #222;
}
.theme-sidebar .wp-block-group ul {
  padding-left: 20px;
}
.theme-sidebar .wp-block-group ul li {
  line-height: 2;
  font-size: 14px;
  color: #6b6b6b;
  list-style: disc;
}
.theme-sidebar .wp-block-group ul li a {
  color: #6b6b6b;
  text-decoration: none !important;
}
.theme-sidebar ul.wp-block-social-links {
  padding: 0;
}
.theme-sidebar ul.wp-block-social-links .wp-block-social-link-anchor{
  padding: 10px !important;
}
.theme-sidebar ul.wp-block-social-links .wp-block-social-link-anchor svg {
  font-size: 18px;
}
.theme-sidebar .wp-block-tag-cloud a{
  background:#fff; 
  color: #000; 
  font-size:15px !important;
  padding: 8 px 18px;
  margin: 0 0 5px; 
  display:inline-block;
  border: 2px solid #000;
  text-decoration: none;
}
.theme-sidebar .wp-block-tag-cloud a:hover{
  background: var(--wp--preset--color--primary);
  color: #fff;
  border: 2px solid var(--wp--preset--color--primary);
}
.theme-sidebar .wp-block-gallery {
  gap: 1em;
}
/*Blog Section*/
.wp-block-latest-posts.is-grid li {
  position: relative;
  background: #fff;
  border: solid 1px #eee;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 16%), 0 0 0 0px rgb(0 0 0 / 8%);
  margin-bottom: 30px;
}
.wp-block-latest-posts.is-grid.columns-3 li {
  width: calc(33.33333% - 1.5em);
}
.blog-section .wp-block-latest-posts.is-grid li {
  box-shadow: none;
}
.wp-block-latest-posts.is-grid li img {
  width: 100%;
}
.wp-block-latest-posts.is-grid li:nth-child(3n) {
  margin-right: 0px;
}
.index-section .wp-block-latest-posts.is-grid li:nth-child(3n){
  margin-right: 12px;
}
.wp-block-latest-posts.is-grid li a {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  padding: 0 10px;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  margin:  20px 0 0;
  line-height: 35px;
}
.wp-block-latest-posts.is-grid li time.wp-block-latest-posts__post-date{
  display: inline-block;
  background: var(--wp--preset--color--primary);
  padding: 8px 8px;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  margin: 10px 0px 5px 10px;
}
.wp-block-latest-posts.is-grid li .wp-block-latest-posts__post-excerpt {
  color: #6b6b6b;
  padding: 0 10px;
  font-size: 14px;
  line-height: 25px;
}
.wp-block-latest-posts.is-grid li .wp-block-latest-posts__post-excerpt a {
  display: none;
}
/*taxonomy-product-cat*/
.taxonomy-product-cat .wp-block-query-pagination {
  margin: 80px 0; 
}
 .taxonomy-product-cat  .wp-block-query-pagination .wp-block-query-pagination-numbers {
  margin: 0;
  display: inline-block; 
}
 .taxonomy-product-cat .wp-block-query-pagination .page-numbers,
 .taxonomy-product-cat .wp-block-query-pagination .wp-block-query-pagination-next,
 .taxonomy-product-cat .wp-block-query-pagination .wp-block-query-pagination-previous {
  padding: 12px 16px;
  background: var(--wp--preset--color--primary);
  line-height: 1;
  margin: 0 3px;
  text-decoration: inherit;
  display: inline-block;
  box-shadow: 0 0 15px #0000002b;
  border-radius: 100px; 
  color: #fff !important;
}
 .taxonomy-product-cat .wp-block-query-pagination .page-numbers.current,
 .taxonomy-product-cat .wp-block-query-pagination a:hover,
 .taxonomy-product-cat .wp-block-query-pagination a:focus,
 .taxonomy-product-cat .wp-block-query-pagination a:active {
  background-color: var(--wp--preset--color--primary);
  color: #fff !important; 
}
.taxonomy-product-cat{
  margin-left: 10em;
  margin-right: 10em;
}
.taxonomy-product-cat h3 a{
  color: #000;
  text-decoration: none !important;
}
.taxonomy-product-cat .block-editor-block-list__block li{
  box-shadow: 0 0 15px #0000002b;
  padding: 10px;
}
.taxonomy-product-cat .wp-block-query-pagination{
  margin-top: 30px !important;
}
.taxonomy-product-cat button.wp-block-button__link.wp-element-button.add_to_cart_button.wc-block-components-product-button__button{
  border-radius: 30px;
  color: #fff;
  background-color: var(--wp--preset--color--primary);
  font-size: 18px !important;
  font-weight: 600 !important;
}
.taxonomy-product-cat .wc-block-breadcrumbs a{
  font-size: 16px !important;
  color: #000 !important;
}
.taxonomy-product-cat .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right {
  background: var(--wp--preset--color--primary);
  padding: 10px;
  color: #fff;
  border: none;
}

/*taxonomy-product-tag*/
.taxonomy-product-tag .wp-block-query-pagination {
  margin: 80px 0; 
}
 .taxonomy-product-tag  .wp-block-query-pagination .wp-block-query-pagination-numbers {
  margin: 0;
  display: inline-block; 
}
 .taxonomy-product-tag .wp-block-query-pagination .page-numbers,
 .taxonomy-product-tag .wp-block-query-pagination .wp-block-query-pagination-next,
 .taxonomy-product-tag .wp-block-query-pagination .wp-block-query-pagination-previous {
  padding: 12px 16px;
  background: var(--wp--preset--color--primary);
  line-height: 1;
  margin: 0 3px;
  text-decoration: inherit;
  display: inline-block;
  box-shadow: 0 0 15px #0000002b;
  border-radius: 100px; 
  color: #fff !important;
}
 .taxonomy-product-tag .wp-block-query-pagination .page-numbers.current,
 .taxonomy-product-tag .wp-block-query-pagination a:hover,
 .taxonomy-product-tag .wp-block-query-pagination a:focus,
 .taxonomy-product-tag .wp-block-query-pagination a:active {
  background-color: var(--wp--preset--color--primary);
  color: #fff !important; 
}
.taxonomy-product-tag{
  margin-left: 10em;
  margin-right: 10em;
}
.taxonomy-product-tag h3 a{
  color: #000;
  text-decoration: none !important;
}
.taxonomy-product-tag .block-editor-block-list__block li{
  box-shadow: 0 0 15px #0000002b;
  padding: 10px;
}
.taxonomy-product-tag .wp-block-query-pagination{
  margin-top: 30px !important;
}
.taxonomy-product-tag button.wp-block-button__link.wp-element-button.add_to_cart_button.wc-block-components-product-button__button{
  border-radius: 30px;
  color: #fff;
  background-color: var(--wp--preset--color--primary);
  font-size: 18px !important;
  font-weight: 600 !important;
}
.taxonomy-product-tag .wc-block-breadcrumbs a{
  font-size: 16px !important;
  color: #000 !important;
}
.taxonomy-product-tag .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right {
  background: var(--wp--preset--color--primary);
  padding: 10px;
  color: #fff;
  border: none;
}

/*single product*/
.single-product-woocommerce .wp-block-query-pagination {
  margin: 80px 0; 
}
 .single-product-woocommerce  .wp-block-query-pagination .wp-block-query-pagination-numbers {
  margin: 0;
  display: inline-block; 
}
 .single-product-woocommerce .wp-block-query-pagination .page-numbers,
 .single-product-woocommerce .wp-block-query-pagination .wp-block-query-pagination-next,
 .single-product-woocommerce .wp-block-query-pagination .wp-block-query-pagination-previous {
  padding: 12px 16px;
  background: var(--wp--preset--color--primary);
  line-height: 1;
  margin: 0 3px;
  text-decoration: inherit;
  display: inline-block;
  box-shadow: 0 0 15px #0000002b;
  border-radius: 100px; 
  color: #fff !important;
}
.single-product-woocommerce .wp-block-query-pagination .page-numbers.current,
.single-product-woocommerce .wp-block-query-pagination a:hover,
.single-product-woocommerce .wp-block-query-pagination a:focus,
.single-product-woocommerce .wp-block-query-pagination a:active {
  background-color: var(--wp--preset--color--primary);
  color: #fff !important; 
}
.single-product-woocommerce{
  margin-left: 10em;
  margin-right: 10em;
}
.single-product-woocommerce h3 a{
  color: #000;
  text-decoration: none !important;
}
.single-product-woocommerce .block-editor-block-list__block li{
  box-shadow: 0 0 15px #0000002b;
  padding: 10px;
}
.single-product-woocommerce .wp-block-query-pagination{
  margin-top: 30px !important;
}
.single-product-woocommerce button.wp-block-button__link.wp-element-button.add_to_cart_button.wc-block-components-product-button__button{
  border-radius: 30px;
  color: #fff;
  background-color: var(--wp--preset--color--primary);
  font-size: 18px !important;
  font-weight: 600 !important;
}
.single-product-woocommerce .wc-block-breadcrumbs a{
  font-size: 16px !important;
  color: #000 !important;
}
.single-product-woocommerce .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right {
  background: var(--wp--preset--color--primary);
  padding: 10px;
  color: #fff;
  border: none;
}
/*blog post*/
.has-shadow-dark, .has-no-hover-shadow-dark {
  box-shadow: 0 6px 30px 7px #2125471a;
  transition: 0.5s;
  padding: 50px !important;
  margin-bottom: 30px;
}
p.form-submit.wp-block-button input.wp-block-button__link.wp-element-button{
  padding: 10px 15px;
  background: var(--wp--preset--color--primary);
  border-radius: 30px;
  font-size: 18px !important;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none !important;
  margin-top: 10px;
  margin-bottom: 10px;
}
.navigation .alignleft a, .navigation .alignright a{
  color: #000 !important;
  font-size: 18px !important;
  text-decoration: none !important;
}
.comment-author.vcard a, .comment-metadata a,.comment-metadata a .edit-link, .reply a, .comment-content a{
  color: #000 !important;
  font-size: 16px !important;
  font-weight: 700;
}
p.form-submit.wp-block-button input.wp-block-button__link.wp-element-button:hover{
  background: transparent !important;
  border: 1px solid var(--wp--preset--color--primary);
  color: #000 !important;
}
footer.comment-meta {
  margin-top: 12px;
}
/*Sidebar CSS*/
.theme-sidebar .wp-block-search__button{
  background: var(--wp--preset--color--primary) !important;
}
.theme-sidebar{
  padding: 0 30px !important;
}
.theme-sidebar .wp-block-group {
  padding: 15px ;
  border: 1px solid #eee;
  color: #6b6b6b;
  box-shadow: 0 6px 30px 7px #2125471a;
  transition: 0.5s;
}
.single-post-sidebar-on-right{
  margin-right: 8%;
  margin-left: 8%;
}
/*blog listing*/
.wp-block-query-pagination {
  margin: 80px 0; 
}
.wp-block-query-pagination .wp-block-query-pagination-numbers {
  margin: 0;
  display: inline-block; 
}
.wp-block-query-pagination .page-numbers,
.wp-block-query-pagination .wp-block-query-pagination-next,
.wp-block-query-pagination .wp-block-query-pagination-previous {
  padding: 12px 16px;
  background: var(--wp--preset--color--primary);
  line-height: 1;
  margin: 0 3px;
  text-decoration: inherit;
  display: inline-block;
  box-shadow: 0 0 15px #0000002b;
  border-radius: 100px; 
  color: #fff;
}
.wp-block-query-pagination .page-numbers.current,
.wp-block-query-pagination a:hover,
.wp-block-query-pagination a:focus,
.wp-block-query-pagination a:active {
  background-color: var(--wp--preset--color--primary);
  color: #fff;
}
.wp-block-query-pagination .page-numbers, .wp-block-query-pagination .wp-block-query-pagination-next, .wp-block-query-pagination .wp-block-query-pagination-previous {
  padding: 12px 16px;
  background:#fff;
  line-height: 1;
  margin: 0 3px;
  text-decoration: inherit;
  display: inline-block;
  box-shadow: 0 0 15px #0000002b; 
  border-radius: 100px;
  color: #000;
}